<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Device – {% block title %}Страница в разработке{% endblock %}</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="icon" sizes="32x32" href="favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <meta name="apple-mobile-web-app-title" content="Device">
  <meta name="application-name" content="Device">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="page">

  <!-- Page-header -->
  <header class="container page-header">
    <a class="logo page-header-logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
      <img src="images/logo-device.svg" alt="Логотип интернет-магазина «Девайс»." width="145" height="36">
    </a>
    <form class="search-form" action="https://echo.htmlacademy.ru">
      <input class="search-form-field" name="search" type="search" value="Текст поиска" placeholder="Поиск по сайту"
        aria-label="Поиск:">
      <button class="search-form-submit" type="submit">Найти</button>
    </form>

    <ul class="page-header-user-nav user-nav">
      {% block profile %}
      <li class="user-nav-item">
        <a class="user-nav-link user-nav-link-user" href="catalog.html">Войти</a>
      </li>
      {% endblock %}
      <li class="user-nav-item">
        <a class="user-nav-link user-nav-link-sort" href="#!">Сравнить</a>
      </li>
      <li class="user-nav-item">
        <button class="user-nav-link user-nav-link-cart" type="button">
          Корзина
          <span class="visually-hidden">Товаров в корзине</span>
          <span class="user-nav-label">2</span>
        </button>
        <div class="cart user-nav-popover">
          <ul class="cart-list">
            <li class="cart-item">
              <a class="cart-link" href="#">
                Любительская
                <br>
                селфи-палка
                <img class="cart-image" src="images/products/product-1-small.jpg"
                  alt="Товар «Любительская селфи-палка» добавлен в корзину" width="39" height="43">
              </a>
              <a class="cart-remover" href="#">
                <span class="visually-hidden">Удалить из корзины</span>
              </a>
            </li>
            <li class="cart-item">
              <a class="cart-link" href="cart.html">
                Профессиональная
                <br>
                селфи-палка
                <img class="cart-image" src="images/products/product-2-small.jpg"
                  alt="Товар «Профессиональная селфи-палка» добавлен в корзину" width="39" height="43">
              </a>
              <a class="cart-remover" href="#">
                <span class="visually-hidden">Удалить из корзины</span>
              </a>
            </li>
          </ul>
          <dl class="cart-params">
            <div class="cart-param">
              <dt class="cart-value">Товаров:</dt>
              <dd class="cart-value">2</dd>
            </div>
            <div class="cart-param">
              <dt class="cart-value">Сумма:</dt>
              <dd class="cart-value">2000 ₽</dd>
            </div>
          </dl>
          <a class="cart-button" href="cart.html">Открыть корзину</a>
        </div>
      </li>
    </ul>

    <div class="page-header-catalog-nav catalog-nav">
      <button class="catalog-nav-toggler" type="button">Каталог товаров</button>
      <ul class="catalog-nav-subcatalog">
        <li class="catalog-nav-item">
          <a class="catalog-nav-link" href="#!">Виртуальная реальность</a>
        </li>
        <li class="catalog-nav-item">
          <a class="catalog-nav-link" href="#!">Фитнес-браслеты</a>
        </li>
        <li class="catalog-nav-item">
          <a class="catalog-nav-link" href="#!">Квадрокоптеры</a>
        </li>
        <li class="catalog-nav-item">
          <a class="catalog-nav-link{{ ' catalog-nav-link-current' if page === 'catalog' }}" href="catalog.html" {{ 'aria-current="page"' if page == 'catalog' }}>
            Моноподы для cелфи
          </a>
        </li>
        <li class="catalog-nav-item">
          <a class="catalog-nav-link" href="#!">Умные часы</a>
        </li>
        <li class="catalog-nav-item">
          <a class="catalog-nav-link" href="#!">Экшн-камеры</a>
        </li>
      </ul>
    </div>
    <ul class="main-nav page-header-main-nav">
      <li class="main-nav-item">
        <a class="main-nav-link" href="#!">Доставка</a>
      </li>
      <li class="main-nav-item main-nav-item-nav">
        <a class="main-nav-link" href="#!">Гарантия</a>
      </li>
      <li class="main-nav-item">
        <a class="main-nav-link" href="#!">Контакты</a>
      </li>
    </ul>
  </header>

  {% block main %}Страница в разработке.{% endblock %}

  <!-- Main-footer -->
  <footer class="main-footer">
    <div class="container">
      <a class="footer-logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
        <img src="images/logo/logo-device-footer.svg" alt="Логотип интернет-магазина «Девайс»." width="145" height="36">
      </a>
      <div class="footer-inner">
        <address class="footer-content">
          Санкт-Петербург, набережная реки Карповки, 5, литера П.
        </address>

        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#!">Доставка</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#!">Гарантия</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#!">Контакты</a>
          </li>
        </ul>

        <a class="footer-contacts-phone" href="tel:+78128121212">Тел.:&nbsp;+7 (812) 812-12-12</a>

        <ul class="footer-social-list">
          <li>
            <a class="footer-social-link footer-social-fb" href="https://www.facebook.com/htmlacademy">
              <span class="visually-hidden">Facebook.</span>
            </a>
          </li>
          <li>
            <a class="footer-social-link footer-social-instagram" href="https://www.instagram.com/htmlacademy/">
              <span class="visually-hidden">Instagram.</span>
            </a>
          </li>
          <li>
            <a class="footer-social-link footer-social-tw" href="https://twitter.com/htmlacademy_ru">
              <span class="visually-hidden">Twitter.</span>
            </a>
          </li>
        </ul>

        <a class="footer-dev" href="https://htmlacademy.ru/">
          <img src="images/logo/logo-html-academy.svg" alt="Логотип HTML Academy." width="115" height="33">
        </a>
      </div>
  </footer>

  {% block modal %}{% endblock %}
  <script>
    window.pinegladePP = {
      breakpoints: [1240],
      ext: 'png'
    };
  </script>
  <script src="https://efiand.github.io/pineglade-pp/pineglade-pp.min.js"></script>
</body>

</html>
