{% extends "_layout.html" %}

{% block title %}Модальное окно (разработка){% endblock %}

{% block modal %}
  {% include "_modal.html" %}
{% endblock %}

{% block main %}
<h1 class="visually-hidden">Интернет-магазин гаджетов "Девайс".</h1>

<!-- Main-page -->
<main class="main-page">
  <p class="button-container container">
    <a class="button-wide-iconable" href="modal.html" data-modal-open="order">
      <span class="button-title">Доставим редкий товар под заказ</span>
    </a>
  </p>
</main>

{% endblock %}
