.breadcrumbs-list,
.breadcrumbs-link {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.breadcrumbs-item {
  position: relative;
  margin-top: 15px;
  padding-right: 38px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 16px;
  width: 7px;
  height: 7px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}
