.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.navigation-header {
  width: 517px;
  margin: 0;
  padding: 0;
}

.navigation-list-secondary {
  width: 100%;
}
