.about-item {
  margin: 19px -4px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-item::before {
  content: "";
  position: absolute;
  left: -4px;
  width: 8px;
  height: 8px;
  margin: 6px;
  background-color: rgba(255, 199, 0, 1);
  border-radius: 50%;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-list,
.paragraph {
  position: relative;
  margin: 0 0 30px;
}

.about-button {
  display: block;
  width: 273px;
}

.about-section {
  margin-left: -1px;
}
