.button {
  font-family: inherit;
  font-weight: 800;
  background-color: #FFE17F;
  font-size: inherit;
  line-height: 21px;
  text-align: center;
  color: #000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.button-wide-iconable {
  font-family: inherit;
  font-weight: 800;
  color: #000;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}
