.button {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px 20px;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: #000000;
  outline-offset: 0;
}

.button::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 2px;
  bottom: 17px;
  left: 0;
  z-index: -1;
  background-color: #ffe17f;
  transition-property: top, bottom, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.button:hover::before {
  top: 0;
  bottom: 0;
}

.button:active::before {
  top: 0;
  bottom: 0;
  background-color: #ffc700;
}

.button-secondary:active {
  width: 280px;
  text-align: left;
  color: #ffe17f;
  background-color: #000000;
}

.button-container {
  margin: 0;
  padding: 69px 1px 70px 0;
}

.button-title {
  position: relative;
  padding: 41px 2px 36px 2px;
  margin-left: 3px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.button-title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 12px;
  margin-left: 56px;
  background-color: #000000;
  opacity: 0.3;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
  mask-image: url("../images/icons/exclamation-point.svg");
  mask-repeat: no-repeat;
  mask-position: 50%;
}

.button-wide-iconable {
  display: grid;
  grid-template-columns: 124px 1fr 124px;
  outline-offset: 4px;
  text-align: center;
  background-color: #f0f0f0;
}

.button-wide-iconable::after {
  content: "";
  width: 40px;
  height: 40px;
  align-self: center;
  justify-self: center;
  background-color: #dcdcdc;
  border-radius: 50%;
}

.button-wide-iconable::before {
  content: "";
  background-color: #ffe17f;
  background-image: url("../images/icons/truck.svg");
  background-position: 50% 52%;
  background-repeat: no-repeat;
  background-size: 47px auto;
  transition: inherit;
}

.button-wide-iconable:active {
  opacity: 0.3;
}

.button-wide-iconable:active::before,
.button-wide-iconable:hover::before {
  background-color: #ffc700;
}

.button-wide-iconable:active .button-title::after,
.button-wide-iconable:hover .button-title::after {
  opacity: 1;
}

.button-show {
  font-size: 18px;
  margin: 5px 0 0;
  width: 222px;
  background: transparent;
}
