.button {
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  border: none;
  z-index: 1;
  background-color: transparent;
  outline-offset: 0;
  color: #000000;
}

.button::before {
  content: "";
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #ffe17f;
  transition-property: top, bottom, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.button:hover:before {
  top: 0;
  bottom:0
}

.button:active::before {
  top: 0;
  bottom: 0;
  background-color: #ffc700;
}

.button:disabled {
  opacity: 0.3;
}

.button-secondary:active {
  background-color: #000000;
  color: #ffe17f;
  text-align: left;
  width: 280px;
}

.button-container {
  margin: 0;
  padding: 70px 0;
}

.button-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 23px;
  padding: 30px;
  position: relative;
  text-transform: uppercase;
  color: #000000;
}

.button-title::after {
  content: "";
  background-color: #000000;
  height: 12px;
  left: 100%;
  margin-left: 56px;
  mask-image: url("../images/icons/exclamation-point.svg");
  opacity: 0.3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
  width: 12px;
  mask-repeat: no-repeat;
  mask-position: 50%;
}

.button-wide-iconable {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 124px 1fr 124px;
  outline-offset: 4px;
  text-align: center;
}

.button-wide-iconable::after {
  content: "";
  align-self: center;
  background-color: #dcdcdc;
  border-radius: 50%;
  height: 40px;
  justify-self: center;
  width: 40px;
}

.button-wide-iconable::before {
  content: "";
  background-color: #ffe17f;
  background-image: url("../images/icons/truck.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 47px auto;
  transition: inherit;
}

.button-wide-iconable:active {
  opacity: 0.3;
}

.button-wide-iconable:active::before,
.button-wide-iconable:hover::before {
  background-color: #ffc700;
}

.button-wide-iconable:active .button-title::after,
.button-wide-iconable:hover .button-title::after {
  opacity: 1;
}

.button-show {
  background: transparent;
  margin: 0;
  font-size: 18px;
}
