.cart {
  color: #ffffff;
  background-color: #000000;
}

.cart-list {
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-item + .cart-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-link {
  display: grid;
  gap: 23px;
  grid-template-columns: 39px 1fr;
  margin-right: 30px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.cart-image {
  order: -1;
}

.cart-remover {
  width: 10px;
  height: 10px;
  color: inherit;
}

.cart-remover::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  mask-image: url("../images/icons/cross.svg");
  background-color: currentColor;
}

.cart-params {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 13px;
  background-color: #1a1a1a;
}

.cart-value {
  display: inline;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.cart-button {
  display: block;
  padding: 14.5px 20px;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 20px solid #000000;
  outline-offset: 18px;
}

.cart-link:hover,
.cart-remover:hover {
  opacity: 0.6;
}

.cart-link:active,
.cart-remover:active {
  opacity: 0.3;
}

.cart-button:active,
.cart-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.cart-button:active,
.cart-button:hover {
  background-color: #ffe17f;
}
