.catalog-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 40px;
  padding: 20px 0 0 60px;
}

.catalog-products {
  display: flex;
  background-color: #f0f0f0;
  color: #000000;
}

.catalog-filter-title {
  float: left;
  width: 100%;
  padding: 0 0 20px;
  font-weight: 700;
  line-height: 20px;
}

.catalog-filter-list {
  clear: both;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  display: table;
}

.catalog-filter-item + .catalog-filter-item {
  margin-top: 17px;
}

.catalog-title {
  margin: 5px 0 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", "Arial", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-main-title {
  margin-bottom: 57px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 69px;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-label:last-child {
  margin: -6px 0 3px -6px;
}

.catalog-filter-label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-nav {
  position: relative;
}

.catalog-nav-toggler {
  position: relative;
  padding: 15px 67px 14px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.catalog-nav-toggler::before {
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  border: 2px solid;
  border-radius: 50%;
}

.catalog-nav-toggler::after {
  top: 17px;
  right: 17px;
  width: 16px;
  height: 16px;
  mask-image: url("../images/icons/plus.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentColor;
}

.catalog-nav-toggler::after,
.catalog-nav-toggler::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  transition: inherit;
}

.catalog-nav-toggler:hover {
  color: #000000;
}

.catalog-nav-toggler:active::after,
.catalog-nav-toggler:active::before,
.catalog-nav-toggler:hover::after,
.catalog-nav-toggler:hover::before {
  opacity: 1;
}

.catalog-nav:focus-within .catalog-nav-toggler::after,
.catalog-nav:hover .catalog-nav-toggler::after {
  mask-image: url("../images/icons/minus.svg");
}

.catalog-nav-subcatalog {
  position: absolute;
  top: 100%;
  left: -60px;
  z-index: 1;
  display: grid;
  gap: 6px 30px;
  grid-template-columns: 222px 1fr 1fr;
  width: 1160px;
  margin: 0;
  padding: 7px 455px 51px 60px;
  box-sizing: border-box;
  background-color: #ffe17f;
  transition: visibility 0.3s, opacity 0.3s;
  opacity: 0.01;
  visibility: hidden;
}

.catalog-nav:focus-within .catalog-nav-subcatalog,
.catalog-nav:hover .catalog-nav-subcatalog {
  visibility: visible;
  opacity: 1;
}

.catalog-nav-item:last-child {
  grid-column: 1/-1;
}

.catalog-nav-link {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.catalog-nav-link:hover {
  opacity: 0.6;
}

.catalog-nav-link:active {
  opacity: 0.3;
}

.catalog-nav-link-current {
  border-bottom: 1px solid;
  padding-bottom: 2px;
}

.catalog-filter-group {
  margin: 0 20px 34px 0;
  padding: 12px 0 0;
  border: none;
  border-top: 2px solid;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
