.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px 40px;
  margin: 70px 0 0;
  padding: 0;
}

.categories-link {
  display: flex;
  flex-direction: column;
  height: 253px;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #000000;
}

.categories-link::before {
  content: "";
  height: 160px;
  margin-top: 1px;
  margin-bottom: 32px;
  background-color: #ffe17f;
}

.categories-virtual-reality::before {
  background-image: url("../images/icons/property/property-1.svg");
}

.categories-monopods::before {
  background-image: url("../images/icons/property/property-2.svg");
}

.categories-cameras::before {
  background-image: url("../images/icons/property/property-3.svg");
}

.categories-bracelets::before {
  background-image: url("../images/icons/property/property-4.svg");
}

.categories-clock::before {
  background-image: url("../images/icons/property/property-5.svg");
}

.categories-quadrocopters::before {
  background-image: url("../images/icons/property/property-6.svg");
}

.categories-link:active {
  opacity: 0.3;
}

.categories-link:active::before,
.categories-link:hover::before {
  background-color: #ffc700;
}

.categories-link:active .categories-link::before,
.categories-link:hover .categories-link::before {
  opacity: 1;
}
