.catalog-products {
  display: flex;
  color: #000000;
  background-color: #F0F0F0;
}

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter {
  width: 220px;
  margin-right: 40px;
}

.catalog-right-column {
  width: 840px;
}
