.main-index {
  color: #000;
  background-color: #fff;
}

.heading {
  font-weight: 400;
  font-size: 36px;
}

.subhead {
  font-weight: 400;
  font-size: 16px;
  color: #444;
}

.category-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.item-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.item-subtitle {
  font-weight: 400;
  color: #444;
}
