.contacts-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px;
}

.contacts-address {
  margin: 0 0 30px;
  font-style: normal;
}

.contacts-address-subtitle {
  margin: 0;
}

.contacts-phone {
  text-decoration-line: underline;
  color: inherit;
}

.contacts-info {
  margin: 0 0 30px;
}

.contacts-info-title {
  margin: 0 0 15px;
}

.contacts-schedule-list {
  margin: 0 0 30px;
  padding: 0;
}
