.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  background-image: url("../images/icons/tick-control-mark.svg");
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20%;
  left: 20%;
}

.control-input[type="checkbox"]:checked + .control-mark {
  content: "";
  border: 2px solid #000000;
  border-radius: 3px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.1;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  content: "";
  border: 2px solid #000000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
}
