.footer-contacts-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-menu-link {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.footer-start {
  width: 300px;
  flex-shrink: 0;
}

.footer-menu {
  flex-grow: 0;
  margin: auto;
}

.footer-end {
  flex-shrink: 0;
  width: 300px;
}

