.footer-contacts-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-menu-link {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.footer-start {
  width: 300px;
  flex-shrink: 0;
}

.footer-menu {
  flex-grow: 0;
  margin: auto;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  width: 125px;
  height: 21px;
  margin-right: 35px;
  margin-bottom: 35px;
}

.footer-menu-item:nth-child(3n) {
  margin-right: 0;
}

.footer-end {
  flex-shrink: 0;
  width: 300px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
