.form {
  margin: -42px 0 0 -40px;
  color: #000000;
}

.form,
.form-group {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  align-content: flex-start;
  width: calc(50% - 40px);
  margin: 42px 0 0 40px;
  line-height: 20px;
}

.form-group-comment {
  width: calc(100% - 260px);
}

.form-group-quantity {
  width: 180px;
}

.form-label {
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.form-field {
  width: 100%;
  height: 60px;
  padding: 18px 17px;
  font-size: 16px;
  line-height: 20px;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  background-position: right 18px top 50%;
  border: 2px solid transparent;
}

.form-field[name="username"] {
  padding-right: 55px;
  background-image: url("../images/icons/modal-user.svg");
  background-size: 15px 14px;
}

.form-field[name="email"] {
  padding-right: 55px;
  background-image: url("../images/icons/mail.svg");
  background-size: 15px 16px;
}

.form-field[type="number"] {
  text-align: center;
}

.form-prompt {
  display: none;
  font-size: 14px;
}

.form-tooltip {
  position: relative;
  display: flex;
  width: 26px;
  height: 26px;
  margin: -3px 0 0 9px;
  background-color: rgba(255, 225, 127, 1);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: help;
}

.form-tooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  margin: auto;
  background-color: currentColor;
  mask-image: url("../images/icons/exclamation-point.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.form-tooltip-text {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  right: -34px;
  z-index: 1;
  display: block;
  width: 200px;
  margin-top: 10px;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: visibility 0.3s, opacity 0.3s;
  cursor: auto;
  visibility: hidden;
}

.form-tooltip-text::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  height: 10px;
}

.form-tooltip-text::after {
  content: "";
  position: absolute;
  right: 40px;
  bottom: 100%;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #000000;
  border-left: 7px solid transparent;
}

.form-tooltip-text:focus-within,
.form-tooltip:focus .form-tooltip-text,
.form-tooltip:hover .form-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.form-controls {
  position: relative;
  width: 100%;
}

.form-control {
  position: absolute;
  top: 0;
  display: flex;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid transparent;
  outline-offset: -2px;
  cursor: pointer;
}

.form-control::before {
  content: "";
  width: 16px;
  height: 16px;
  margin: auto;
  background-color: #000000;
  transition: inherit;
}

.form-control:hover {
  background-color: #ebebeb;
}

.form-control:hover::before {
  opacity: 0.6;
}

.form-control:active {
  background-color: transparent;
}

.form-control:active::before {
  opacity: 0.3;
}

.form-control-step-down {
  left: 0;
}

.form-control-step-up {
  right: 0;
}

.form-control-step-down::before {
  mask-image: url("../images/icons/form-minus.svg");
  mask-repeat: no-repeat;
}

.form-control-step-up::before {
  mask-image: url("../images/icons/plus.svg");
}

.form-submit {
  margin: 42px 0 0 41px;
  font-size: 18px;
  width: 200px;
}

.form-field-counter,
.form-field:placeholder-shown {
  background-color: #f0f0f0;
}

.form-field:hover {
  background-color: #dcdcdc;
}

/* Класс field-invalid будет добавляться с помощью js */
.field-invalid,
.field:invalid:not(:placeholder-shown) {
  border-color: #c4c4c4;
}

.form-field:invalid ~ .form-prompt {
  display: block;
}

.form-group-email .form-field:invalid,
.form-group-quantity .form-field:invalid {
  border-color: #ff3d3d;
}

.form-group-email .form-field:invalid ~ .form-prompt,
.form-group-quantity .form-field:invalid ~ .form-prompt {
  color: #ff3d3d;
}

.form-group-email .form-field:invalid ~ .form-control,
.form-group-quantity .form-field:invalid ~ .form-control {
  border-color: #ff3d3d;
}

.form-group-email .form-field:invalid ~ .form-control-step-down,
.form-group-quantity .form-field:invalid ~ .form-control-step-down {
  border-right-color: transparent;
}

.form-group-email .form-field:invalid ~ .form-control-step-up,
.form-group-quantity .form-field:invalid ~ .form-control-step-up {
  border-left-color: transparent;
}

.form .form-tooltip:focus {
  outline: none;
}
