.index-columns {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.index-columns-title {
  margin-top: 40px;
  margin-bottom: 48px;
}

.index-columns-title::before {
  content: "";
  background-image: url("../images/icons/basket.svg");
  height: 14px;
  width: 16px;
}

.abous-us-image::before {
  background: var(--icon);
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  margin-top: 40px;
}

.about-us-title::before {
background-image: url("../images/icons/rectangle.svg");
width: 84px;
height: 7px;
}
