.index-columns {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.index-columns-title {
  margin: 0;
  margin-bottom: 48px;
}

.index-columns-title::before {
  content: "";
  display: block;
  width: 84px;
  height: 8px;
  background-color: #000000;
  margin-bottom: 40px;
}
