.modal {
  /* display: flex; */
  z-index: 3;
  background-color: hsla(0, 0%, 94%, 0.9);
}

.modal-ready {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}
/*.modal-opened {
  display: flex;
}
*/

.modal-inner {
  width: 760px;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border: 10px solid;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
  color: #000000;
}

.modal-header {
  display: grid;
  grid-template-columns: 1fr 26px;
  gap: 26px;
  margin-bottom: 42px;
}

.modal-title {
  margin: 0;
}

.modal-closer {
  width: 26px;
  height: 26px;
  margin-top: 12px;
  background-color: transparent;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  border: none;
}

.modal-closer:hover {
  opacity: 0.6;
}

.modal-closer:active {
  opacity: 0.3;
}
