.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.navigation-header {
  width: 517px;
  margin: 0;
  padding: 0;
}

.navigation-list-secondary {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 16px;
  min-height: 22px;
}
