.page a {
  text-decoration: none;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.page-footer-start {
  width: 239px;
  margin-right: 112px;
}

.page-footer-end {
  margin-left: auto;
  max-width: 175px;
}
