.pagination-show-more-container {
  display: flex;
  justify-content: center;
}

.pagination-show-more {
  display: flex;
  justify-content: center;
  margin: 44px 0;
  padding: 18px 39px;
  border: 3px solid #e5e5e5;
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  color: inherit;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link-secondary {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

.pagination-link {
  display: block;
  min-width: 40px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-prev,
.pagination-next {
  display: flex;
  padding: 25px;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-link-current {
  color: #444444;
  opacity: 0.6;
}

.pagination-show-more:hover {
  border: 3px solid #000000;
}

.pagination-show-more:active {
  opacity: 0.3;
  border: 3px solid #000000;
}

.pagination-show-more:disabled {
  opacity: 0.3;
  border: 3px solid #e5e5e5;
}

.pagination-link-secondary:hover {
  background-color: #dcdcdc;
}

.pagination-link-secondary:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  opacity: 0.1;
}
