.product-card-container {
  padding: 70px 40px 78px;
  background-color: #ffffff;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin: 0 0 44px;
  padding: 0;
}

.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 207px 1fr;
  gap: 32px;
}

.product-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.product-card-overlay::before {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid #444444;
}

.product-card-overlay-link {
  top: 170px;
  left: 70px;
  width: 220px;
}

.product-card-overlay .product-card-overlay-link,
.product-card-overlay::before {
  position: absolute;
  opacity: 0;
  transition: inherit;
  pointer-events: all;
}

.product-card-image {
  grid-column: span 2;
}

.product-card-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  margin: 0;
}

.product-card-price {
  justify-self: end;
  color: #444444;
  margin: -5px 0 0 0;
}

.product-card-title,
.product-card-price {
  transition: opacity 0.2s ease-in-out;
}

.product-card-label {
  position: absolute;
  top: 27px;
  right: 27px;
  box-sizing: border-box;
  min-width: 60px;
  margin: 0;
  padding: 17px 6px 18px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid;
  border-radius: 30px;
}

.product-card-overlay:hover ~ .product-card-title {
  opacity: 0.6;
}

.product-card-overlay:active ~ .product-card-title,
.product-card-overlay:active ~ .product-card-price {
  opacity: 0.3;
}

.product-card-overlay:active .product-card-overlay-link::before {
  background-color: #ffc700;
}

.product-card-overlay:active .product-card-overlay-link,
.product-card-overlay:active::before,
.product-card-overlay:hover .product-card-overlay-link,
.product-card-overlay:hover::before {
  opacity: 1;
}
