.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #dcdcdc;
  width: 200px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: 0;
  width: 119px;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  background-color: #000000;
  border-color: #000000;
}

.range-toggle:focus {
  outline: 3px solid #af4fff;
  background-color: #ebebeb;
  border-color: #000000;
}

.range-wrapper-inputs {
  display: flex;
  position: relative;
  left: -20px;
  opacity: 0.3;
}

.range-input {
  width: 15px;
  padding: 0 2px;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
