.search-form {
  display: grid;
  font-size: 16px;
  grid-template-columns: 359px 1fr;
  line-height: 20px;
}

.search-form-field {
  background-color: transparent;
  background-image: url("../images/icons/search.svg");
  background-position: 14px 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 2px solid;
  border-radius: 50px 0 0 50px;
  padding: 8px 16px 8px 45px;
  width: 100%;
}

.search-form-submit {
  background-color: transparent;
  border: 2px solid;
  border-radius: 0 50px 50px 0;
  font: inherit;
  margin-left: -2px;
  min-width: 162px;
  padding: 8px 16px;
  text-align: center;
}
