.search-form {
  display: grid;
  grid-template-columns: 1fr min-content;
  font-size: 16px;
  line-height: 20px;
  margin-top: -1px;
  margin-right: 1px;
}

.search-form-field {
  width: 100%;
  padding: 8px 16px 7px 44px;
  background-color: transparent;
  background-image: url("../images/icons/search.svg");
  background-position: 14px 53%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 2px solid;
  border-radius: 50px 0 0 50px;
}

.search-form-field:disabled {
  opacity: 0.3;
}

.search-form-submit {
  min-width: 160px;
  margin-left: -2px;
  padding: 8px 16px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: 2px solid;
  border-radius: 0 50px 50px 0;
}

.search-form-submit:hover {
  box-sizing: border-box;
  background-color: #000000;
  border: 2px solid #000000;
  color: #ffffff;
}

.search-form-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border: #000000;
}

.search-form-submit:disabled {
  background: transparent;
  opacity: 0.3;
  border: 2px solid #000000;
  color: #000000;
}
