.select-control {
  margin-left: 194px;
  padding-right: 57px;
  font: inherit;
  border: none;
  background: transparent;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:disabled {
  opacity: 0.1;
}


