.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 40px 17px;
}

.sorting-button {
  width: 30px;
  height: 30px;
}

.sorting-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/icons/sort-item.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.sorting-ascending {
  margin-left: auto;
}

.sorting-descending {
  transform: scaleY(-1);
}

.sorting-button:hover {
  opacity: 0.5;
}

.sorting-button:active {
  opacity: 1;
}
