.subscription {
  padding: 64px 0 56px;
  background-color: #f0f0f0;
}

.subscription-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.subscription-title {
  width: 360px;
  margin: -1px 0 0 6px;
}

.subscription-paragraph {
  width: 554px;
  margin: 9px 0 144px;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  width: 810px;
}

.subscription-field {
  flex-grow: 1;
  padding: 13px 16px 11px;
  color: #444444;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  outline: none;
}

.subscription-field:focus {
  background-color: #dcdcdc;
}

.subscription-field::placeholder {
  opacity: 0.5;
}

.subscription-field:invalid {
  color: rgba(68, 68, 68, 0.5);
  border-color: 3px solid #ff3d3d;
}

.subscription-field:disabled {
  opacity: 0.3;
}

.subscription-button {
  padding: 14px 33px 14px 36px;
  margin-left: -2px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: inherit;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 3px solid #cecece;
  cursor: pointer;
}

.subscription-button:hover {
  color: #ffffff;
}

.subscription-button:active,
.subscription-button:hover {
  background-color: #000000;
  border: 3px solid #000000;
  color: #ffffff;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:disabled {
  color: inherit;
  background-color: transparent;
  border-color: #cecece;
  opacity: 0.3;
}

.subscription-check-title {
  display: flex;
  align-items: baseline;
  margin-top: 14px;
  margin-right: 2px;
}

.subscription-check-title::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background-image: url("../images/icons/tick-big-green.svg");
  background-repeat: no-repeat;
}
