.user-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.user-nav-item {
  margin: 20px 0 0 20px;
}

.user-nav-item-extended {
  display: flex;
}

.user-nav-log-off {
  margin-left: 28px;
  opacity: 0.3;
}

.user-nav-item:first-child {
  margin-right: auto;
}

.user-nav-link-extend {
  margin-left: 28px;
  opacity: 0.3;
}

.user-nav-link {
  align-items: baseline;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  line-height: 30px;
  padding: 5px 0;
  color: inherit;
}

.user-nav-link:hover {
  opacity: 0.6;
}

.user-nav-link::before {
  background: var(--icon);
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  margin-right: 10px;
}

.user-nav-link-user::before {
  background-image: url("../images/icons/user.svg");
  height: 12px;
  width: 13px;
}

.user-nav-link-sort::before {
  background-image: url("../images/icons/static.svg");
  height: 12px;
  width: 10px;
}

.user-nav-link-cart::before {
  background-image: url("../images/icons/basket.svg");
  height: 14px;
  width: 16px;
}

.user-nav-label {
  background-color: var(--color-paper);
  border-radius: 11px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  min-width: 21px;
  order: -1;
  padding: 2px 6px;
  text-align: center;
  transform: translateX(6px);
}

.user-basket {
  background-color: #000000;
}

.user-products-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.user-products {
  background-color: #1a1a1a;
}
