/* Header */
.header {
  background-color: #ffe17f;
  color: #000;
}

.user-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #ffe17f;
  text-decoration: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #000;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-link {
  font-weight: 400;
  color: #000;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}
