.footer-start-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 64px;
  width: 239px;
}

.footer-contacts-address::after {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc500;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.footer-contacts-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: 63px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

.footer-dev {
  display: flex;
  justify-content: flex-end;
}

.footer-start {
  width: 300px;
  flex-shrink: 0;
}

.footer-logo {
  display: flex;
  margin-bottom: 35px;
  cursor: default;
}

.footer-menu {
  margin: auto;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  width: 125px;
  height: 21px;
  margin-right: 35px;
  margin-bottom: 35px;
}

.footer-menu-item:nth-child(3n) {
  margin-right: 0;
}

.footer-end {
  width: 175px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.footer-social-link {
  display: block;
  height: 40px;
}

.footer-social-fb {
  background-image: url("../images/icons/facebook.svg");
}

.footer-social-instagram {
  background-image: url("../images/icons/instagram.svg");
}

.footer-social-tw {
  background-image: url("../images/icons/twitter.svg");
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
