.info {
  background-color: #f0f0f0;
}

.info-container {
  display: grid;
  grid-template-columns: 287px 694px;
}

.info-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f0f0f0;
}

.info-item {
  display: flex;
  flex-wrap: wrap;
}
