.main-footer {
  color: #ffffff;
  background-color: #444444;
}

.main-footer-inner {
  display: flex;
  padding: 62px 0;
}

.main-page {
  flex-grow: 1;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
}

.main-nav-link {
  border-width: 2px;
  left: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  color: inherit;
}

.main-nav-link:hover {
  opacity: 0.6;
}

.main-nav-link:active {
  opacity: 0.3;
}

.main-nav-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.main-nav-link-catalog {
  margin-right: 276px;
}

.main-nav-link-catalog::after {
  background-color: #000000;
  border-radius: 50px;
  border: 2px solid #000000;
  box-sizing: border-box;
  height: 13px;
  width: 13px;
}

.main-nav-link-delivery,
.main-nav-link-warranty {
  margin-right: 45px;
}

.main-list {
  display: grid;
  grid-template-columns: repeat(3, 215px);
}

.main-nav-item {
  margin: 15px 0 15px 46px;
}
