.slider-container {
  position: relative;
  margin-top: 0;
}

.slider-list {
  counter-reset: slider;
  margin: 0;
  padding: 0;
}

.slider-list > li {
  counter-increment: slider;
}

.slider-item {
  position: relative;
  display: none;
  background-image: linear-gradient(#ffe17f 114px, transparent 114px);
}

.slider_item--active {
  display: grid;
  grid-template-columns: 560px 1fr;
  gap: 40px;
}

.slider-item::before {
  content: counter(slider);
  position: absolute;
  top: 46px;
  right: 48px;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-item:nth-child(-n+9)::before {
  content: "0" counter(slider);
}

.slider-content {
  position: relative;
  z-index: 1;
  padding: 86px 0 0;
}

.slider-image {
  display: block;
  margin-top: -36px;
}

.slider-title {
  display: block;
  margin: 0 0 28px;
}

.content > :last-child {
  margin-bottom: 0;
}

.content > :first-child {
  margin-top: 0;
}

.content h3,
.content p {
  margin: 30px 0;
  line-height: 30px;
  color: #444444;
}

.slider-params {
  display: flex;
  flex-wrap: wrap;
  margin: -40px 0 0 -20px;
}

.slider-param {
  display: flex;
  flex-direction: column-reverse;
  margin: 40px 0 0 20px;
  line-height: 30px;
  color: #000000;
}

.slider-spaced {
  padding-right: 20px;
}

.slider-footer {
  margin: 52px 96px 0 0;
}

.slider-footer-button {
  display: block;
  width: 220px;
  margin: 0 0 48px;
}

.slider-key {
  font-size: 16px;
  color: #444444;
}

.slider-value {
  margin: 0 0 12px;
  font-size: 36px;
}

.slider-button {
  position: absolute;
  top: 175px;
  z-index: 1;
  width: 20px;
  height: 60px;
  background-image: url("../images/icons/left-tall-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.slider-button-next {
  transform: rotate(180deg);
  left: 540px;
}

.slider-button-prev {
  left: 28px;
}

.slider-pagination {
  position: absolute;
  right: 0;
  bottom: 173px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 96px;
  margin: -20px 0 0 -20px;
}

.slider-pagination-item {
  margin: 20px 0 0 20px;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-radius: 50%;
}

.slider-button,
.slider-pagination-button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.slider-button:hover,
.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-button:active,
.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-button:disabled,
.slider-pagination-button:disabled {
  opacity: 0.1;
}

.slider-pagination-button--current {
  background-color: currentColor;
}
