.services {
  padding: 70px 0 72px;
  background-image: linear-gradient(transparent 172px, #f0f0f0 172px);
}

.services-container {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.services-button-list {
  margin: 64px 0 0;
  padding: 0;
}

.services-button {
  display: block;
  width: 160px;
  height: 40px;
}

.services-button--current {
  width: 100%;
  padding: 10px 133px 10px 17px;
  color: #ffe17f;
  outline-offset: 2px;
}

.services-button--current::before {
  top: 0;
  bottom: 0;
  right: -2px;
  background-color: #000000;
  transition: none;
}

.services-item + .services-item {
  margin-top: 35px;
}

.services-list {
  margin: 0;
  padding: 0;
  border-left: 7px solid #000000;
}

.services-content {
  position: relative;
  display: none;
  padding: 74px 260px 74px 116px;
}

.services-content::after {
  content: "";
  position: absolute;
  top: 63px;
  right: 41px;
  width: 180px;
  height: 195px;
  background-image: url("../images/icons/services/services-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-warranty::after {
  background-image: url("../images/icons/services/services-2.svg");
}

.services-credit::after {
  background-image: url("../images/icons/services/services-3.svg");
}

.services-title {
  margin: 0 0 32px;
}

.services-content-current {
  display: block;
}

.services-button--current:hover {
  color: rgba(255, 225, 127, 0.5);
}

.services-button--current:active {
  color: rgba(255, 225, 127, 0.3);
}
