.sorting-title {
  margin: 5px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  padding: 20px 40px;
}

.sorting-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../images/icons/sort-item.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  cursor: pointer;
}

.sorting-descending {
  transform: scaleY(-1);
}

.sorting-button:hover {
  opacity: 0.5;
}

.sorting-button:active {
  opacity: 1;
}
