.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  color: #444444;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}
