<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Device – {% block title %}Страница в разработке{% endblock %}</title>

  <link href="styles/styles.css" rel="stylesheet">

  <link href="apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link type="image/png" href="favicon-32x32.png" rel="icon" sizes="32x32">
  <link type="image/png" href="favicon-16x16.png" rel="icon" sizes="16x16">
  <link href="site.webmanifest" rel="manifest">
  <link href="safari-pinned-tab.svg" rel="mask-icon" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!-- Header-logo -->
  <header class="header-logo">
    <h1 class="visually-hidden">Интернет-магазин гаджетов "Девайс".</h1>
    <a class="header-logo-link" {% block rootLink %}href="index.html"{% endblock %}>
      <img src="images/logo-device.svg" alt="Логотип интернет-магазина «Девайс»." width="145" height="36">
    </a>
  </header>

  <!-- Header-navigation -->
  <header class="header">
    <nav class="navigation">
      <form action="https://echo.htmlacademy.ru">
        <label>
          <span class="visually-hidden">Поиск:</span>
          <input name="search" type="search" placeholder="Поиск по сайту" value="Текст поиска">
        </label>
        <button type="submit">
          Найти
        </button>
      </form>

      <ul class="navigation-list navigation-user">
        {% block profile %}
        <li class="user-item">
          <a class="user-link" href="#">
            <img src="../images/icons/user.svg" alt="Иконка пользователя." width="15" height="12">
            Войти
          </a>
        </li>
        {% endblock %}
        <li class="user-item">
          <a class="user-link" href="#">
            <img src="../images/icons/static.svg" alt="Иконка статистики." width="10" height="12">
            Сравнить
          </a>
        </li>
        <li class="user-item">
          <a class="user-link" href="#">
            <p class="user-link-count">
              <span class="visually-hidden">Товаров в корзине:</span> 2
            </p>
            <img src="../images/icons/basket.svg" alt="Иконка корзины." width="13" height="21">
            Корзина
          </a>
          <ul class="basket-list">
            <li>
              <a href="#">
                <img src="../images/product-1-small.jpg" alt="Товар:«Любительская селфи-палка» добавлен в корзину" width="39" height="43">
                Любительская селфи-палка
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../images/product-2-small.jpg" alt="Товар:«Профессиональная селфи-палка» добавлен в корзину" width="39" height="43">
                Профессиональная селфи-палка
              </a>
            </li>
          </ul>
          <p>Товаров: 2</p>
          <p>Сумма: 2000 ₽</p>
          <a href="#">Открыть корзину</a>
        </li>
      </ul>

      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link {% block catalogLink %}{% endblock %}" href="catalog.html">
            Каталог товаров
          </a>
          <ul>
            <li><a class="catalog-link" href="#">Виртуальная реальность</a></li>
            <li><a class="catalog-link" href="#">Моноподы для селфи</a></li>
            <li><a class="catalog-link" href="#">Экшн-камеры</a></li>
            <li><a class="catalog-link" href="#">Фитнес-браслеты</a></li>
            <li><a class="catalog-link" href="#">Умные часы</a></li>
            <li><a class="catalog-link" href="#">Квадрокоптеры</a></li>
          </ul>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#">Доставка</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#">Гарантия</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </header>

  {% block main %}Страница в разработке.{% endblock %}

  <!-- Main-footer -->
  <footer class="main-footer">

    <!-- Page-footer-start -->
    <div class="page-footer-start">
      <img src="../images/logo-device-footer.svg" alt="Логотип интернет-магазина «Девайс»." width="145" height="36">
      <address class="footer-contacts-address">
        <p class="about-text">
          Санкт-Петербург, набережная реки Карповки, 5, литера П.
        </p>
      </address>
    </div>

    <!-- Footer-menu -->
    <section class="footer-menu">
      <h2 class="visually-hidden">Меню разделов.</h2>
      <ul class="footer-menu-list">
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#">Доставка</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#">Гарантия</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#">Контакты</a>
        </li>
      </ul>
    </section>

    <!-- Footer-social -->
    <section class="footer-social">
      <h2 class="visually-hidden">Социальные сети.</h2>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a class="button-social" href="https://www.facebook.com/htmlacademy">
            <span class="visually-hidden">Facebook.</span>
            <img src="../images/icons/facebook.svg" alt="Facebook." width="40" height="40">
          </a>
        </li>
        <li class="footer-social-item">
          <a class="button-social" href="https://www.instagram.com/htmlacademy/">
            <span class="visually-hidden">Instagram.</span>
            <img src="../images/icons/instagram.svg" alt="Instagram." width="40" height="40">
          </a>
        </li>
        <li class="footer-social-item">
          <a class="button-social" href="https://twitter.com/htmlacademy_ru">
            <span class="visually-hidden">Twitter.</span>
            <img src="../images/icons/twitter.svg" alt="Twitter." width="40" height="40">
          </a>
        </li>
      </ul>
    </section>

    <!-- Page-footer-end -->
    <div class="page-footer-end">
      <a href="tel:88128121212">Тел:+7 (812) 812-12-12</a>
      <a class="htmlacademy-link" href="https://htmlacademy.ru/">
        <img src="../images/logo-html-academy.svg" alt="Логотип Html Academy." width="115" height="33">
      </a>
    </div>
  </footer>
</body>

</html>
