{% extends "_layout.html" %}

{% block title %}Каталог{% endblock %}

{% block catalogLink %}navigation-link-current{% endblock %}

{% block profile %}
<li class="user-item">
  <a class="user-link" href="#">
    <img src="../images/icons/user.svg" alt="Иконка пользователя." width="15" height="12">
    Коля Петухов
  </a>
  <a class="disabled" href="#">Выйти</a>
</li>
{% endblock %}

{% block main %}
<!-- Main-inner -->
<main class="main-inner">

  <!-- Inner-header -->
  <header class="inner-header">
    <h1 class="inner-header-title">Каталог</h1>
    <ol class="breadcrumbs">
      <li class="breadcrumbs-item">
        <a class="breadcrumbs-link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs-item">
        <a class="breadcrumbs-link" href="#!">Каталог товаров</a>
      </li>
      <li class="breadcrumbs-item">
        <a class="breadcrumbs-link">Моноподы для селфи</a>
      </li>
    </ol>
  </header>

  <!-- Catalog-products -->
  <section class="catalog-products">
    <h2 class="catalog-products-title">Фильтр:</h2>
    <form class="catalog-filter" action="https://echo.htmlacademy.ru/" method="get">

      <!-- Catalog-filter-group -->
      <fieldset class="catalog-filter-group">
        <legend class="catalog-filter-title">Стоимость</legend>
        <label>
          от <input type="number" min="0" max="8000">
        </label>
        <label>
          до <input type="number" min="0" max="8000">
        </label>
      </fieldset>

      <fieldset class="catalog-filter-group">
        <legend class="catalog-filter-title">Цвет</legend>
        <ul class="catalog-filter-list">
          <li class="catalog-filter-item">
            <label class="control">
              <input class="control-input" name="color[]" type="checkbox" value="black" checked>
              Черный
            </label>
          </li>
          <li class="catalog-filter-item">
            <label class="control">
              <input class="control-input" name="color[]" type="checkbox" value="white" checked>
              Белый
            </label>
          </li>
          <li class="catalog-filter-item">
            <label class="control">
              <input class="control-input" name="color[]" type="checkbox" value="blue">
              Синий
            </label>
          </li>
          <li class="catalog-filter-item">
            <label class="control">
              <input class="control-input" name="color[]" type="checkbox" value="red">
              Красный
            </label>
          </li>
          <li class="catalog-filter-item">
            <label class="control">
              <input class="control-input" name="color[]" type="checkbox" value="pink">
              Розовый
            </label>
          </li>
        </ul>
      </fieldset>

      <fieldset class="catalog-filter-group">
        <legend class="catalog-filter-title">Bluetooth</legend>
        <ul class="catalog-filter-list">
          <li class="catalog-filter-item">
            <label class="control">
              <input class="control-input" name="option" type="radio" value="there's" checked>
              Есть
            </label>
          </li>
          <li class="catalog-filter-item">
            <label class="control">
              <input class="control-input" name="option" type="radio" value="no">
              Нет
            </label>
          </li>
        </ul>
      </fieldset>

      <button class="button button-show" type="submit">Показать</button>
    </form>

    <!-- Select -->
    <label> Сортировка:
      <select class="select-control">
        <option value="popular">Популярные</option>
        <option value="cheap">Дешёвые</option>
        <option value="expensive">Дорогие</option>
      </select>
    </label>
    <a class="button-ascending">
      <img src="../images/icons/sort-item1.svg" alt="По возрастанию." width="30" height="30">
    </a>
    <a class="button-descending">
      <img src="../images/icons/sort-item2.svg" alt="По убыванию." width="30" height="30">
    </a>

    <!-- Product-list -->
    <ul class="product-list">
      <li class="product-card">
        <a class="product-card-link" href="#">
          <img class="product-card-image" src="../images/products/product1.jpg" alt="Селфи-палка." width="360" height="380">
          <h3 class="product-card-title">Любительская селфи-палка</h3>
        </a>
        <p class="product-card-price">744 ₽</p>
      </li>
      <li class="product-card">
        <a class="product-card-link" href="#">
          <img class="product-card-image" src="../images/products/product2.jpg" alt="Профессиональная селфи-палка." width="360" height="380">
          <h3 class="product-card-title">Профессиональная селфи-палка</h3>
        </a>
        <p class="product-card-price">1500 ₽</p>
      </li>
      <li class="product-card">
        <a class="product-card-link" href="#">
          <img class="product-card-image" src="../images/products/product3.jpg" alt="Непотопляемая селфи-палка." width="360" height="380">
          <h3 class="product-card-title">Непотопляемая селфи-палка</h3>
        </a>
        <p class="product-card-price">2500 ₽</p>
      </li>
      <li class="product-card">
        <a class="product-card-link" href="#">
          <img class="product-card-image" src="../images/products/product4.jpg" alt="Селфи-палка «Следуй за мной»." width="360" height="380">
          <h3 class="product-card-title">Селфи-палка «Следуй за мной»</h3>
        </a>
        <p class="product-card-price">1500 ₽</p>
      </li>
    </ul>

    <button class="pagination-show-more" type="button">Загрузить ещё</button>

    <ul class="pagination">
      <li class="pagination-item">
        <a class="pagination-link pagination-prev" href="#">
          <span>Назад</span>
        </a>
      </li>
      <li class="pagination-item">
        <a class="pagination-link" href="#">1</a>
      </li>
      <li class="pagination-item">
        <a class="pagination-link" href="#">2</a>
      </li>
      <li class="pagination-item">
        <a class="pagination-link" href="#">3</a>
      </li>
      <li class="pagination-item">
        <a class="pagination-link" href="#">...</a>
      </li>
      <li class="pagination-item">
        <a class="pagination-link" href="#">15</a>
      </li>
      <li class="pagination-item">
        <a class="pagination-link pagination-next" href="#">
          <span>Вперед</span>
        </a>
      </li>
    </ul>
  </section>
</main>

{% endblock %}
