html {
  --color-paper: #ffffff;
  --color-text: #000000;
  --color-text-30: rgba(0, 0, 0, 0.3);
  --color-text-accent: #000000;
  --color-text-accent-strong: #ffc700;
  --color-text-light: #444444;
  --color-bg: #f0f0f0;
  --color-bg-medium: #ebebeb;
  --color-bg-dark: #dcdcdc;
  --color-bg-accent: #ffe17f;
  --color-select: #af4fff;
  --color-status-error: #ff3d3d;
  --color-status-warning: #fd912e;
  --color-status-success: #08af00;
  --font-basic: "Rubik", "Arial", sans-serif;
  --font-accent: "Raleway", "Arial", sans-serif;
  --focus-outline: 2px solid var(--color-select);
  min-width: 1240px;
  overflow-y: scroll;
  overflow-anchor: none;
  scroll-behavior: smooth;
  font-size: 18px;
  line-height: 1.166667;
  font-family: var(--font-basic);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  color: var(--color-text);
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 1440px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us {
  width: 520px;
  height: 493px;
  padding-right: 108px;
}

.about-us-list,
.about-us-subtitle {
  margin: 0;
  margin-bottom: 30px;
}

.about-us-item {
  font-weight: 700;
  color: #000000;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 19px 0px;
}

.about-us-item:last-child {
  margin-bottom: 0;
}

.breadcrumbs-list,
.breadcrumbs-link {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 36px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.button {
  display: inline-block;
  padding: 10px 6.14px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.button-secondary-current {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  color: #ffe17f;
  text-align: left;
  width: 280px;
}

.button-secondary:active {
  background-color: #000000;
  color: #ffe17f;
  text-align: left;
  width: 280px;
}

.button-ascending {
  width: 30px;
  height: 30px;
}

.button-container {
  margin: 0;
  padding: 70px 0;
}

.button-title {
  font-family: var(--font-accent);
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 23px;
  padding: 30px;
  position: relative;
  text-transform: uppercase;
  color: #000000;
}

.button-title::after {
  content: "";
  height: 12px;
  left: 100%;
  margin-left: 56px;
  background-image: url("../images/icons/exclamation-point-1.svg");
  opacity: 0.3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
  width: 12px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.button-wide-iconable {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: 124px 1fr 124px;
  outline-offset: 4px;
  text-align: center;
}

.button-wide-iconable::after {
  align-self: center;
  background-color: var(--color-bg-dark);
  border-radius: 50%;
  content: "";
  height: 40px;
  justify-self: center;
  width: 40px;
}

.button-wide-iconable::before {
  content: "";
  background-color: var(--color-bg-accent);
  background-image: url("../images/icons/truck.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 47px auto;
  transition: inherit;
}

.button-wide-iconable::after .button-title::after,
.button-wide-iconable:hover .button-title::after {
  opacity: 0.3;
}

.catalog-container {
  display: flex;
}

.catalog-products {
  display: flex;
  color: #000000;
  background-color: #f0f0f0;
}

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-title-add {
  padding: 25.5px 0;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter {
  width: 220px;
  margin-right: 40px;
}

.catalog-right-column {
  width: 840px;
}

.catalog-nav {
  position: relative;
}

.catalog-nav-toggler::before {
  border: 2px solid;
  border-radius: 50%;
  height: 46px;
  right: 0;
  top: 0;
  width: 46px;
}

.catalog-nav-toggler {
  background-color: transparent;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.2em;
  padding: 15px 67px 14px 0;
  position: relative;
  text-transform: uppercase;
  border: none;
  color: inherit;
}

.catalog-nav-toggler::after {
  background-color: currentColor;
  height: 16px;
  -webkit-mask-image: url("../images/icons/plus-1.svg");
          mask-image: url("../images/icons/plus-1.svg");
  right: 17px;
  top: 17px;
  width: 16px;
}

.catalog-nav-toggler::after,
.catalog-nav-toggler::before {
  content: "";
  opacity: 0.3;
  position: absolute;
  transition: inherit;
}

.catalog-nav-list {
  background-color: #ffe17f;
  box-sizing: border-box;
  display: grid;
  gap: 15px 30px;
  grid-template-columns: 222px 1fr 1fr;
  left: -60px;
  margin-top: 4px;
  opacity: 0.01;
  padding: 7px 455px 56px 60px;
  position: absolute;
  top: 100%;
  transition: visibility 0.3s, opacity 0.3s;
  visibility: hidden;
  width: 1160px;
  z-index: 1;
}

.catalog-nav-item:last-child {
  grid-column: 1/-1;
}

.catalog-nav-link {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.categories {
  margin: 70px 140px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-gap: 40px;
  margin: 0;
  padding: 0;
}

.categories-image::before {
  content: "";
  background-color: #ffe17f;
  height: 160px;
  margin-bottom: 32px;
}

.categories-link {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.02em;
  height: 253px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts {
  width: 532px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-subtitle {
  margin: 0;
}

.contacts-phone {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: inherit;
}

.footer-start-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 64px;
  width: 239px;
}

.footer-contacts-address::after {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc500;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.footer-contacts-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: 63px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

.footer-dev {
  display: flex;
  justify-content: flex-end;
}

.footer-start {
  width: 300px;
  flex-shrink: 0;
}

.footer-logo {
  display: flex;
  margin-bottom: 35px;
}

.footer-menu {
  margin: auto;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  width: 125px;
  height: 21px;
  margin-right: 35px;
  margin-bottom: 35px;
}

.footer-menu-item:nth-child(3n) {
  margin-right: 0;
}

.footer-end {
  width: 175px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  background-color: #ffe17f;
  font-size: inherit;
  line-height: 21px;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.header {
  color: #000000;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.index-columns-title {
  margin-top: 40px;
  margin-bottom: 48px;
}

.index-columns-title::before {
  content: "";
  background-image: url("../images/icons/basket.svg");
  height: 14px;
  width: 16px;
}

.abous-us-image::before {
  background: var(--icon);
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  margin-top: 40px;
}

.about-us-title::before {
background-image: url("../images/icons/rectangle.svg");
width: 84px;
height: 7px;
}

.info {
  background-color: #f0f0f0;
}

.info-container {
  display: grid;
  grid-template-columns: 287px 694px;
}

.info-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f0f0f0;
}

.info-item {
  display: flex;
  flex-wrap: wrap;
}

.inner-header {
  padding: 35px 161px 35px 200px;
  color: #000000;
  background-color: #ffffff;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 16px;
}

.logo img {
  display: block;
}

.main-footer {
  color: #ffffff;
  background-color: #444444;
}

.main-footer-inner {
  display: flex;
  padding: 62px 0;
}

.main-page {
  flex-grow: 1;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
}

.main-nav-link {
  border-width: 2px;
  left: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  color: inherit;
}

.main-nav-link-catalog {
  margin-right: 276px;
}

.main-nav-link-catalog::after {
  background-color: #000000;
  border-radius: 50px;
  border: 2px solid #000000;
  box-sizing: border-box;
  height: 13px;
  width: 13px;
}

.main-nav-link-delivery,
.main-nav-link-warranty {
  margin-right: 45px;
}

.main-list {
  display: grid;
  grid-template-columns: repeat(3, 215px);
}

.main-nav-item {
  margin: 15px 0 15px 46px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page a {
  text-decoration: none;
}

.page ul,
.page ol {
  list-style: none;
}

.page input {
  -webkit-text-fill-color: currentColor;
  box-shadow: none;
  box-sizing: border-box;
  font: inherit;
}

.page input::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}

.page input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.page a,
.page button,
.page input,
.page select,
.page textarea {
  transition-duration: 0.2s;
  transition-property: color, opacity, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
}

.page-header {
  align-items: start;
  background-color: var(--color-bg-accent);
  border-top: 40px solid var(--color-paper);
  display: grid;
  gap: 30px 0;
  grid-template-columns: 518px 1fr;
  padding: 44px 60px 30px;
  position: relative;
}

.page-header-logo {
  left: 60px;
  position: absolute;
  top: -22px;
}

.page-header-user-nav {
  justify-content: flex-end;
  margin: -20px 0 0 10px;
}

.page-header-main-nav {
  justify-content: flex-end;
  margin: 0;
}

.page-header-catalog-nav {
  margin-right: 30px;
}

.pagination-show-more-container {
  display: flex;
  justify-content: center;
}

.pagination-show-more {
  display: flex;
  align-items: center;
  padding: 18px 294.5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: inherit;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link-secondary {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.pagination-list {
  display: flex;
  align-items: center;
  background: #ebebeb;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  min-width: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev,
.pagination-next {
  display: flex;
  padding: 25px;
}

.pagination-prev {
  margin-right: 145.5px;
}

.pagination-next {
  margin-left: 145.5px;
}

.product-card-container {
  padding: 70px 40px 78px;
  background-color: #ffffff;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  margin: 0;
  padding: 0;
  gap: 44px 40px;
}

.product-card-item {
  display: flex;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 32px;
}

.product-card-title {
  flex-grow: 0;
  font-weight: 700;
  color: #000000;
  line-height: 20px;
  margin: 0;
  margin-right: 17px;
}

.product-card-price {
  display: flex;
  flex-shrink: 0;
  margin: 0;
  margin-bottom: auto;
  line-height: 21px;
  color: #444444;
}

.search-form {
  display: grid;
  font-size: 16px;
  grid-template-columns: 359px 1fr;
  line-height: 20px;
}

.search-form-field {
  background-color: transparent;
  background-image: url("../images/icons/search.svg");
  background-position: 14px 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 2px solid;
  border-radius: 50px 0 0 50px;
  padding: 8px 16px 8px 45px;
  width: 100%;
}

.search-form-submit {
  background-color: transparent;
  border: 2px solid;
  border-radius: 0 50px 50px 0;
  font: inherit;
  margin-left: -2px;
  min-width: 162px;
  padding: 8px 16px;
  text-align: center;
}

.slider-block {
  margin-bottom: 70px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  gap: 40px;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.slider-item-subtitle {
  margin: 0;
  margin-bottom: 51px;
}

.slider-table {
  display: grid;
  grid-template-areas:
    "slider-heading slider-heading slider-heading"
    "slider-subhead slider-subhead slider-subhead";
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 49px;
  margin-bottom: 38px;
}

.slider-add {
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.slider-heading {
  margin-bottom: 12px;
  font-size: 36px;
  color: #000000;
}

.slider-subhead {
  margin: 0;
  font-size: 16px;
}

.slider-button {
  display: flex;
  justify-content: space-between;
}

.slider-button-prev {
  align-items: flex-start;
}

.slider-button-next {
  align-items: flex-end;
}

.subscription {
  background-color: #f0f0f0;
}

.subscription-container {
  display: flex;
  flex-wrap: wrap;
}

.subscription-title {
  margin: 64px 252px 144px 0;
}

.subscription-subtitle {
  color: #444444;
  margin: 74px 0 144px 0;
  width: 560px;
}

.subscription-form {
  width: 810px;
  margin-right: 188px;
}

.subscription-form-field {
  background-color: #c4c4c4;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.user-nav-item {
  margin: 20px 0 0 20px;
}

.user-nav-item-extended {
  display: flex;
}

.user-nav-log-off {
  margin-left: 28px;
  opacity: 0.3;
}

.user-nav-item:first-child {
  margin-right: auto;
}

.user-nav-link-extend {
  margin-left: 28px;
  opacity: 0.3;
}

.user-nav-link {
  align-items: baseline;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  line-height: 30px;
  padding: 5px 0;
  color: inherit;
}

.user-nav-link:hover {
  opacity: 0.6;
}

.user-nav-link::before {
  background: var(--icon);
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  margin-right: 10px;
}

.user-nav-link-user::before {
  background-image: url("../images/icons/user.svg");
  height: 12px;
  width: 13px;
}

.user-nav-link-sort::before {
  background-image: url("../images/icons/static.svg");
  height: 12px;
  width: 10px;
}

.user-nav-link-cart::before {
  background-image: url("../images/icons/basket.svg");
  height: 14px;
  width: 16px;
}

.user-nav-label {
  background-color: var(--color-paper);
  border-radius: 11px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  min-width: 21px;
  order: -1;
  padding: 2px 6px;
  text-align: center;
  transform: translateX(6px);
}

.user-basket {
  background-color: #000000;
}

.user-products-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.user-products {
  background-color: #1a1a1a;
}

.container {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Raleway */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
